.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 2rem 4rem;

  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.error {
  margin-top: 1rem;
}
