.link {
  text-decoration: none;
  color: black;
  margin-bottom: 0;
  font-size: 2rem;
}
.link:hover {
  opacity: 0.6;
}

.siteTitle {
  font-size: 3rem !important;
}

.navbar {
  padding: 0 1rem;
}

.navbarToggle {
  font-size: 2rem !important;
  margin: 1rem;
}
